@charset "utf-8";
/* CSS Document */

body {
	background-color:#19c2c4;
}

.btn {
	background-color: #58118f;
	color: #fffff1;
}

.btn:hover {
	background-color: #7f18cd;
}

.jumbotron {
	background-color: #58118f;	
	color: #fffff1;
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
}

.inputText {
    color: #29272a;
    font-size: 18px;
}

#headingText {
	font-size: 50px;
}

.sansSerif {
	font-family: 'Josefin Sans', sans-serif;
}

.serif {
	font-family: 'Noto Serif', serif;
}

#resultBox {
	background-color: #58118f;	
}

#resultHeadText {
	color: #fffff1;
}

.search-results {
	color: #29272a;
}

.header {
	background-color: #58118f;
	color: #fffff1;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	padding: 10px;
}

.titleCard {
	color: white;
	font-weight: bold;
	text-shadow:
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.footer {
	background-color: #58118f;
}

  /* label color */
   .input-field label {
     color: black;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: black;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: black;
   }
